﻿@using SipModuloManualModelo.General;
@{ SipModuloManual.Models.Security.UsersSecurity a = new SipModuloManual.Models.Security.UsersSecurity();
    var b = false;

    if (Generales.SesionTrabajo.RolActual == 1005)
    {
        b = true;
    }
}    
 <header class="header">

        <a href='@Url.Action("Home", "Home")' class="logo" >
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Mezclas A.H
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button" id="BtnMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </nav>
    </header>

    <div class="row-offcanvas row-offcanvas-left">


        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas" id="sidemenu">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" id="side-menu">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="treeview" id="LMenu">
                        <a href="#" style="font-size:20px">
                            <i class="fa fa-hand-o-up"></i>
                            <span>Menu</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu" id="ParentMenu">
                            <li id="ConfigurarMenu">
                                @*<a href='@Url.Action("Formatoppr", "Home")'>
                                    <i class="fa fa-bar-chart-o"></i>
                                    <span>PP-R-027-Bodega</span>
                                </a>

                                <a href='@Url.Action("FormatopprMezclado", "Home")'>
                                    <i class="fa fa-barcode"></i>
                                    <span>PP-R-027-Mezclado</span>
                                </a>*@


                                <a href='@Url.Action("FormatoToc", "Home")'>
                                    <i class="fa fa-apple"></i>
                                    <span>Captura de Información</span>
                                </a>

                                @*<a href='@Url.Action("FormatocPPRControl", "Home")'>
                                    <i class="fa fa-adn"></i>
                                    <span>PP-R-019</span>
                                </a>


                                <a href='@Url.Action("FormatoToc02", "Home")'>
                                    <i class="fa fa-archive"></i>
                                    <span>TOC-R-02</span>
                                </a>

                                <a href='@Url.Action("Formatoppr01","Home")'>
                                    <i class="fa fa-group"></i>
                                    <span>PP-R-01</span>
                                </a>*@
                            </li>
                        </ul>

                    </li>


                    <li class="treeview" id="LReportes">
                        <a href="#" style="font-size:20px">
                            <i class="fa fa-database"></i>
                            <span>Reportes</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu" id="ParentMenu">
                            <li id="ConfigurarMenu">
                                @*<a href='@Url.Action("ReportPpr027", "Home")'>
                                    <i class="fa fa-fast-forward"></i>
                                    <span>Reporte Historico</span>
                                </a>*@

                                <a href='@Url.Action("ReporteToc01", "Home")'>
                                    <i class="fa fa-archive"></i>
                                    <span>Reporte Histórico</span>
                                </a>

                                @*<a href='@Url.Action("ReportePpr019", "Home")'>
                                    <i class="fa fa-desktop"></i>
                                    <span>Reporte PPR 019</span>
                                </a>*@

                                <a href='@Url.Action("ReporteToc02", "Home")'>
                                    <i class="fa fa-bitbucket-square"></i>
                                    <span>Reporte Consolidado</span>
                                </a>

                                @*@<a href='@Url.Action("ReportePpr01", "Home")'>
                                    <i class="fa fa-file-archive-o"></i>
                                    <span>Reporte PP-R-01</span>
                                </a>*@

                            </li>


                        </ul>
                    </li>
    
                    @*@if (b)
                    {
                    <li class="treeview" id="LReportes">
                        <a href="#" style="font-size:20px">
                            <i class="fa fa-user"></i>
                            <span>Usuarios</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu" id="ParentMenu">
                            <li id="ConfigurarMenu">

                                <a href='@Url.Action("AdminUsers", "Home")'>
                                    <i class="fa fa-users"></i>
                                    <span>Administrar Usuarios</span>
                                </a>

                                <a href='@Url.Action("Registrousser", "Home")'>
                                    <i class="fa fa-users"></i>
                                    <span>Registrar Usuario</span>
                                </a>

                                <a href='@Url.Action("AdminPersonal", "Home")'>
                                    <i class="fa fa-users"></i>
                                    <span>Administrar Personal</span>
                                </a>

                                <a href='@Url.Action("CrearPersonal", "Home")'>
                                    <i class="fa fa-users"></i>
                                    <span>Crear Personal</span>
                                </a>

                            </li>


                        </ul>
                    </li>
                    }*@


                    @*<li class="treeview" id="Lcrearusuario">
            <a href='@Url.Action("Registrousser", "Home")'>
                <i class="fa fa-user"></i>
                <span>Registrar Usuario</span>
            </a>

        </li>*@

                    <li class="treeview" id="LCerrarSesion">
                        <a href="#" style="font-size:20px" onClick="window.location.href=window.location.origin">
                            <i class="fa fa-sign-out"></i>
                            <span>Cerrar Sesion</span>
                        </a>

                    </li>

                    <li>
                        <img src="~/Images/logo.png" />
                    </li>

                </ul>

            </section>
            <!-- /.sidebar -->

        </aside>


        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side"></aside><!-- /.right-side -->
    </div>
