﻿

<div class="col-lg-12 col-md-12">
    <div class="col-lg-4 col-md-4">
      </div>

    <div class="col-lg-4 col-md-4">
        <div>
            <div class="col-lg-12 col-md-12 icon-login-box" >
                <center><img src="~/Images/logo.png" /></center>
            </div>


            <div class="col-lg-12 col-md-12 login-box">
                
                <div id="container_login">
                    <div class="col-lg-12 col-md-12 tamañofuenteppr">
                        <br><p style="text-align:justify;font-size:16px; font-weight:500;">Nombre de Usuario:</p>
                        <div class="input-icon" align="center"><i class="fa fa-user"></i></div>
                        <div class="input-conten" align="left"><input type="text" id="txUserName" maxlength="30" /></div>
                    </div>

                    <div class="col-lg-12 col-md-12 tamañofuenteppr">
                        <br><p style="text-align:justify;font-size:16px; font-weight:500;">Contraseña:</p>
                        <div class="input-icon" align="center"><i class="fa fa-key"></i></div>
                        <div class="input-conten" align="left"><input type="password" id="txPassword" /></div>
                    </div>

                    <div class="col-lg-12 col-md-12" align="right">
                        @*<a href="@String.Concat(@url_base, "Seguridad/OlvidoContrasena")">¿Olvidó su Contraseña?</a>*@
                    </div>

                    <div align="right">

                        <button class="btn btn-default" style="margin-top:5px; margin-right:4%;" onclick="login()" id="btnIngresar">Ingresar</button>

                    </div>
                    
                </div>

                <div class="col-lg-12 col-md-12" id="ContainerRol" style="display:none;">
                    <br><p style="text-align:justify; font-weight:500;">Seleccione un rol:</p>
                    <div class="input-icon" align="center"><i class="fa fa-user"></i></div>
                    <div id="rol_opcion" class="input-conten" align="left">
                        <select id="cmbRoles" style="width:100%; height:100%;"></select>
                    </div>
                    <div align="right">
                        <button class="btn btn-default" style="margin-top:5px; margin-right:4%;" id="btnRol">Ingresar</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4"></div>
   
    <style type="text/css">


        html, body {
            background:#ffffff !important; 
        }
    </style>
    
</div>
