﻿<script type="text/javascript">
    $(document).ready(function () {
        var today = new Date().toISOString().slice(0, 10);
        document.getElementById("fechadesde").value = today;
        document.getElementById("fechahasta").value = today;
    });
</script>


<div class="row" style="margin-top:20px;">
    <div class="col-md-5" style="width:90%">
        <div class="box box-primary no-padding">
            <div class="box-header">
                <h3 class="box-title no-padding paddingtop5">REPORTE HISTORICO</h3>
            </div>
            <div class="box-body " style="padding-top:5px">
                <div class="row">

                    <div class="form-group col-sm-3">
                        <label for="fecha" class="col-2 col-form-label">Fecha Desde</label>
                        <div class="col-4 ">
                            <input class="form-control " type="date" id="fechadesde">
                        </div>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="fecha" class="col-2 col-form-label">Fecha Hasta</label>
                        <div class="col-4 ">
                            <input class="form-control " type="date" id="fechahasta">
                        </div>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="Selection" class="col-2 col-form-label">Filtros</label>
                        <select class="form-control col-sm-12" id="Selection" onchange="ConsultarOrdenOMezcla()">
                            <option value="Vacio" disabled selected hidden>Seleccione el tipo de filtro</option>
                            <option value="Orden">Orden</option>
                            <option value="Mezcla">Mezcla</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="Valor" class="col-2 col-form-label">Valor</label>
                        <select class="form-control col-sm-12" id="SelectOrdenMezcla">
                            <option value="Vacio" disabled selected hidden>Seleccione un valor</option>
                        </select>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="row col-sm-8 col-md-6">
        <button class="btn btn-primary displaynone" id="btnConsultar" onclick="ConsultaReporteToc01Himalaya()"><i class="fa fa-search"></i> Consultar </button>
        <button class="btn btn-primary displaynone" id="btnConsultar" onclick="ExportarExcel()"><i class="fa fa-file-excel-o"></i> Exportar  </button>
    </div>
</div>

<div class="row" style="margin-top:20px;">

    <div class="col-lg-12">
        <div id="gridOrden" class="colorAzulk"></div>
    </div>
    <div class="col-lg-12">
        <div id="gridMateriaPrima" class="colorAzulk"></div>
    </div>
    <div id="rowTemplate" type="text/x-kendo-tmpl" hidden></div>

</div>
