﻿<div class="col-lg-12">
    <div class="row col-md-12">
        <section class="content-header" style="padding-top:0px;">
            <h1 style="width: 70%;float: left;line-height: 48px;">
                <small>Asignar Entrega Linea</small>
            </h1>
        </section>
    </div>
    <div class="row" style="margin-top:0px;">
        <div class="col-md-12">
            <div class="box box-primary no-padding">
                <div class="box-body " style="padding-top:10px">
                    <div class="row">

                        <div class="col-md-1 tamañofuenteppr">
                            <label for="OrdenProduccion">Orden Prod</label>
                            <input type="text" class="textright" id="OrdenProduccion" name="OrdenProduccion" maxlength="50"  onblur="CargarProductoPPR019()" onkeypress="Javascript:if(event.keyCode == 13) CargarProductoPPR019();"  />
                        </div>

               
                        <div class="col-md-5 tamañofuenteppr"> 
                            <label for="ListaProductoActual" style="width: 100%">Producto Act</label>
                            <input type="text" style="width: 100%" class="textleft" id="ListaProductoActual"  name="ListaProductoActual" />
                        </div>

                        <div class="col-md-1 tamañofuenteppr">
                            <label for="LoteProducto">Lote Act</label>
                            <input type="number" class="textright" id="LoteProducto" name="LoteProducto" min="0" maxlength="20" />
                        </div>

                        <div class="col-md-5 tamañofuenteppr">
                            <label for="ListaProductoAnterior" style="width: 100%">Producto Ant</label>
                            <input type="text" style="width: 100%" class="textleft" id="ListaProductoAnterior" name="ListaProductoAnterior" />
                        </div>

                     
                    </div>


                    <div class="row">
                       <div class="col-md-1 tamañofuenteppr">
                            <label for="LoteProducto">Lote Ant</label>
                            <input type="number" class="textright" id="LoteProductoAnt" name="LoteProductoAnt" min="0" maxlength="20" />
                        </div>

                        <div class="col-md-2 tamañofuenteppr">
                            <label for="Desinfectante">Desinfectante</label>
                            <input type="text" class="textright" id="Desinfectante" name="Desinfectante" />
                        </div>

                        <div class="col-md-1 tamañofuenteppr">
                            <label for="MaqAsignar">Area</label>
                            <input type="text" class="textleft" id="MaqAsignar" name="MaqAsignar" disabled="disabled" maxlength="50" value="104200" />
                        </div>


                        <div class="col-md-1 tamañofuenteppr">
                            <label for="FechaIngreso">Fecha</label>
                            <input type="text" class="textright" id="FechaIngreso" name="FechaIngreso" disabled="disabled" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                        </div>

                        <div class="col-md-1 tamañofuenteppr">
                            <br />
                            <button class="btn btn-primary displaynone" id="btnInciarFabricacion" onclick="llenargridDespejeLinea()"><i class="fa fa-fast-forward"></i> Iniciar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 tamañofuenteppr">
                            <div class="input-group">
                                <label id="ErrorEditar" style="color:red"></label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="row" >
            <div class="row" style="">
                <div class="col-lg-12">
                    <div id="gridDespejeLinea" class="colorAzulk">
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>
